*, body {
	font-family: monospace;
	font-size: 15px;
	line-height: 25px;
	background-color: #2B2B2B;
	color: #BABABA;
	opacity: 1;
}

div.breadcrumbs {
	margin-bottom: 16px;
	margin-left: 12px;
}

div.head > span.item {
	display: inline-block;
	border-left: 1px solid rgba(152, 118, 170, 0.45);
	border-bottom: 1px solid rgba(152, 118, 170, 0.45);
	margin-right: 12px;
	padding: 4px 4px 4px 8px;
	font-size: 18px;
	cursor: pointer;
	border-radius: 8px;
	margin-bottom: 12px;
}

div.head > span.pwd {
	border-left: 1px solid rgba(152, 118, 170, 0.25);
	border-bottom: 1px solid rgba(152, 118, 170, 0.25);
	font-weight: bold;
	color: #CC7832;
	cursor: default;
}

div.breadcrumbs > span.item {
	margin-right: 2px;
	padding: 1px;
	font-size: 16px;
	cursor: pointer;
	white-space: preserve nowrap;
}

div.breadcrumbs > span.item::before {
	content: '\000BB';
	padding-right: 6px;
	color: #9876AA;
	font-weight: bold;
	font-size: 20px;
}

strong {
	color: #6897BB;
}

h3 {
	color: #E8BF6A;
	font-weight: bold;
	font-size: 16px;
}
h3::before {
	content: '\000BB';
	padding-right: 4px;
	font-weight: bold;
	font-size: 16px;
}
h3::after {
	content: '\000AB';
	padding-left: 4px;
	font-weight: bold;
	font-size: 16px;
}

h4 {
	color: #E8BF6A;
	font-weight: bold;
	font-size: 16px;
}

a {
	color: #A4C261;
	text-decoration: none;
	cursor: pointer;
}

a.promoted {
	font-weight: bold;
}

a::before {
	content: '\000BB';
	padding-right: 4px;
	font-weight: bold;
	font-size: 16px;
}

ul {
	list-style: outside;
}

ul > li {
	margin-bottom: 8px;
}

ul > li::marker {
	color: #6A8759;
	font-size: 18px;
}

a.imprint {
	position: fixed;
	bottom: 2px;
	right: 8px;
	color: grey;
	opacity: 0.5;
}