/* Just to avoid flickering. Not versioned. */
*, body {
    font-family: courier, monospace;
    font-size: 15px;
    line-height: 25px;
    background-color: #2B2B2B;
    color: #BABABA;
}
body {
    opacity: 0.001;
    transition: opacity .3s ease-in-out;
}